<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>flight List</h1>

   <p> <%= flights.length %> </p>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight No</th>
                <th>Departure Date</th>
                
            </tr>
        </thead>
        <tbody>
            <% flights.forEach( (flight) => { %>
                <tr>
                    <td><%= flight.airline %></td>
                    <td><a href="flights/<%= flight._id %>"><%=flight.flightNum %></a></td>
                    <td><%= flight.departs %></td>
    
                </tr>
            <% }); %>
        </tbody>
    </table>
  </body>
</html>